# LaTeX intermediate files
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz

# PDF preview files
*.pdf

# Editor or OS-specific files
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.pyc
*.pyo
